.tickets__details {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
  font-size: 20px;
}
.tickets__details span {
  margin-right: 10px;
  width: 150px;
}
.tickets__component {
  display: flex;
  justify-content: space-between;
  margin: 8%;
}
.tickets__component__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: scroll;
  width: 65%;
}
