openapi: 3.0.1
info:
  title: users
  description: API Definition of Users
  version: 1.0.0
servers:
- url: 'http://localhost:8290/users        '
paths:
  /register:
    post:
      requestBody:
        description: Sample Payload
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: object
        required: false
      responses:
        default:
          description: Default response
  /login:
    post:
      requestBody:
        description: Sample Payload
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: object
        required: false
      responses:
        default:
          description: Default response
